In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv("/content/insurance.csv")

In [ ]:
data.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   expenses  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [ ]:
data['sex'] = data['sex'].apply({'male':1,'female':0}.get)

In [ ]:
data.head()

   age  sex   bmi  children smoker     region  expenses
0   19    0  27.9         0    yes  southwest  16884.92
1   18    1  33.8         1     no  southeast   1725.55
2   28    1  33.0         3     no  southeast   4449.46
3   33    1  22.7         0     no  northwest  21984.47
4   32    1  28.9         0     no  northwest   3866.86

In [ ]:
data['smoker'] = data['smoker'].apply({'yes':1,'no':0}.get)
data['region'] = data['region'].apply({'southeast':1,'southwest':0,'northeast':2,'northwest':3}.get)

In [ ]:
data.head()

   age  sex   bmi  children  smoker  region  expenses
0   19    0  27.9         0       1       0  16884.92
1   18    1  33.8         1       0       1   1725.55
2   28    1  33.0         3       0       1   4449.46
3   33    1  22.7         0       0       3  21984.47
4   32    1  28.9         0       0       3   3866.86

In [ ]:
x = data[['age','sex','bmi','children','smoker','region']]
y = data['expenses']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [ ]:
from sklearn.linear_model import LinearRegression
linear_model=LinearRegression()

In [ ]:
linear_model.fit(x_train,y_train)

LinearRegression()

In [ ]:
y_predictions=linear_model.predict(x_test)

In [ ]:
print(y_predictions)

[ 9.04383679e+03  8.53516271e+03  1.04380655e+04  7.63208243e+03
  3.16386611e+04  9.95605402e+03  1.31349782e+04  8.32929530e+03
  4.06643359e+03  1.26751763e+04  7.32231147e+03  1.43085969e+04
  3.85080526e+04  2.69589283e+04  3.12275824e+04  3.44134314e+04
  3.73642007e+03  1.84584663e+03  9.14697963e+03  3.72288491e+04
  3.28095642e+03  1.07452526e+04  1.39766456e+04  9.23653586e+03
  8.47449632e+03  1.18241492e+02  9.07565068e+03  3.39012535e+03
  1.73811675e+04  3.83395657e+03  1.23729387e+04  1.06887221e+04
  3.51421444e+04  9.88895946e+03  3.53055921e+04  1.31210145e+04
  1.35208253e+04  5.04259994e+03  1.16795193e+04  6.57119250e+03
  1.19959705e+04  3.16429198e+04  1.61556364e+04  1.39512729e+04
  9.17747730e+03  5.22463644e+03  1.09485737e+04  1.52913743e+04
  8.21433106e+03  1.01338908e+04  8.09556588e+03  5.46991826e+03
  1.06097695e+04  3.00385670e+04  1.31540646e+04  1.04868576e+04
  1.17505637e+04  2.48274365e+03  1.63437255e+04  3.66903609e+03
  9.25653863e+03  1.12307386e+04  7.18648600e+03  6.47180857e+03
  3.90756574e+03  9.56177768e+03  2.83843250e+04  8.35803486e+02
  1.05954922e+04  4.25017148e+03  3.44122203e+03  5.17206717e+03
  1.44541566e+04  7.26530554e+03  1.45030287e+04  1.12211213e+04
  1.18253826e+04  1.09475663e+04  9.54341125e+03  1.56097817e+04
  3.97911134e+04  7.49460569e+03  3.28581184e+04  3.23515682e+04
  3.49113717e+04  6.89205067e+03  8.69358089e+03  1.52118368e+04
  1.56634622e+04  1.43612911e+04  9.74409869e+03  1.57743455e+04
  9.77189567e+03  5.58998836e+03  6.66088177e+03  1.67914010e+04
  7.51383546e+03  1.98988068e+03  7.14371184e+03  6.56557266e+03
  5.58219415e+03  3.96719082e+03  6.68174589e+03  8.56779032e+03
  3.36204474e+04 -7.14546960e+02  9.84204955e+03  1.34911544e+04
  9.50045122e+03  1.13843932e+04  1.20881349e+04  5.88768308e+03
  1.34254767e+04  5.50838592e+03  3.66128752e+03  1.05103542e+04
  7.68346853e+03  1.41998028e+04  5.84417764e+03  6.78466533e+03
  1.39549700e+04  6.33546417e+03  2.80111789e+04  1.04872141e+04
  2.89199531e+04  1.35904610e+04  3.03224576e+04  1.75981492e+03
  3.17431650e+04  4.22533807e+03  2.75718319e+04  1.18327624e+04
  1.99023311e+02  1.28325260e+04  3.48091003e+04  9.26745919e+03
  3.94332045e+04  7.74983700e+03  3.29180138e+04  1.12534217e+03
  3.39599239e+04  7.63415545e+03  8.10076815e+03  7.81004411e+03
  4.98726887e+03  2.52656256e+04  7.64664114e+03  1.95725882e+04
  1.51012591e+04  3.48647329e+03  1.38618811e+04  1.99566498e+03
  7.07749484e+03  2.86207014e+04  5.27980303e+03  6.29273564e+03
 -1.65697244e+03  1.30309109e+04  1.47942050e+04  7.84605287e+03
  3.42378728e+04  1.34103644e+04  1.31898154e+04  3.37405256e+04
  1.38085247e+04  1.35164102e+04  3.05858975e+04  8.52017542e+03
  3.18456640e+04  2.69276088e+04  6.40849941e+03  8.78457018e+03
  1.69922265e+03  3.29946538e+04  1.32424458e+04  3.02075125e+04
  3.13453024e+04  3.27064220e+03  4.09198698e+03  4.00156399e+04
  1.12338060e+04  8.50471267e+03  5.03114817e+03  5.36292080e+03
  2.51252540e+04  3.05791880e+04  1.15090624e+04  8.92240556e+03
  1.26468950e+04  1.40986464e+03  9.10673648e+03  3.37647851e+04
  2.76839971e+04  1.42936015e+04  5.70021771e+03  2.70298103e+04
  7.95774671e+03  1.40741210e+04  3.55988336e+03 -1.18077733e+01
  4.70097828e+03  1.64986911e+04  1.35047248e+04  5.88891607e+03
  7.95195431e+03  1.89712399e+03  1.09888006e+04  3.30074532e+04
  5.34718701e+03  6.02622024e+03  5.19825632e+03  7.89442455e+03
  7.43843169e+03  1.16152727e+04  7.98960551e+03  1.14103509e+04
  3.26170315e+04  9.80211202e+03  8.23435293e+03  3.02506285e+03
  4.79743495e+03  6.89446394e+03  8.62343174e+02  4.67369630e+03
  6.59053911e+03  1.17120301e+04  1.03601154e+04  4.92282736e+03
  1.14860949e+04  8.98997021e+03  3.13806469e+04  7.20837893e+03
  2.26824401e+03  1.43034769e+04  6.25781161e+03  3.81152633e+03
  1.15952081e+04  6.55597153e+03  1.19300672e+04  1.24771581e+04
  3.43662090e+03  7.99066375e+03  1.25502096e+04  9.49014310e+03
  8.18933318e+03  1.52781409e+03  2.32835337e+04  9.64888311e+03
  3.60394654e+03  7.63374109e+03  1.52636595e+04  1.42783378e+04
  3.01048510e+04  7.92864971e+03  2.54533972e+03  1.37519547e+04
  9.56072754e+03  2.18253212e+03  7.16163349e+03  3.19392902e+04
  4.18166815e+03  5.13879150e+03  3.93226348e+04  1.18689357e+04
  2.99479422e+04  5.01646651e+03  1.03353988e+04  3.04441757e+03]

In [ ]:
accuracy = linear_model.score(x,y)

In [ ]:
print("The accuracy of the ML model using LR algorithm is",accuracy)

The accuracy of the ML model using LR algorithm is 0.7501476331802533

In [ ]:
# creating data for a new customers
data_new = {'age':65,'sex':0,'bmi':26,'children':3,'smoker':1,'region':3}

In [ ]:
index=[1]
my_data=pd.DataFrame(data_new,index)

In [ ]:
my_data

   age  sex  bmi  children  smoker  region
1   65    0   26         3       1       3

In [ ]:
predictions=linear_model.predict(my_data)

In [ ]:
print("The amount of health insurance for a new customer is",predictions)

The amount of health insurance for a new customer is [38809.44728291]